*{
    margin: 0px;
    background-color: rgb(252, 252, 252);
}
body{
    min-height: 100vh;
}
nav{
    height: 110px;
    background-color: rgb(39, 37, 37);
}
#btn{
    margin: auto;
    text-align: center;
}
.main{
    background-color: transparent;
    color: rgb(231, 231, 231);
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-family: "Vina Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
footer{
    background-color: rgb(216, 216, 216);
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 60px;
}
.cont{
    display: flex;
    list-style: none;
    text-align: center;
    background-color: transparent;
    justify-content: center;
    margin:20px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#container{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: rgb(250, 247, 247);
    padding: 40px;
    border-radius: 20px;
    width: 400px;
    height: 300px;
}
#containe1{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: rgb(250, 247, 247);
    padding: 40px;
    border-radius: 20px;
    width: 400px;
    height: 300px;
}
#bx{
    margin-top: 10px;
    margin-bottom: 20px;
    width:  400px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color:rgb(236, 232, 232) ;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 20px;
}
#ctemp{
    margin-top: 8px;
}
#submit{
    margin-top: 20px;
    height: 25px;
    border: 1px slategrey solid;
    border-radius: 10px;
    width: 100px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    margin-bottom: 40px;
}
.mn{
    font-size: 25px;
    color: rgb(43, 40, 40);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    background-color: transparent;
}
#xt{
    color: rgb(43, 40, 40);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: transparent;
    font-size: 20px;
    margin-left:7px ;
}

#rslt{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    background-color: transparent;
    font-size: 18px;
}
#bx1{
    margin-top: 10px;
    margin-bottom: 20px;
    width:  400px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color:rgb(236, 232, 232) ;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 20px;
}
#ctemp1{
    margin-top: 8px;
}
#submit1{
    margin-top: 20px;
    height: 25px;
    border: 1px slategrey solid;
    border-radius: 10px;
    width: 100px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    margin-bottom: 40px;
}
#rslt1{
    display: flex;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    background-color: transparent;
    font-size: 18px;
}
#ctemp {
    accent-color: rgb(131, 130, 130) ;
  }
#ftemp {
    accent-color: rgb(131, 130, 130) ;
  }
#ctemp1 {
    accent-color: rgb(131, 130, 130) ;
  }
#ftemp1{
    accent-color: rgb(131, 130, 130) ;
  }  
#submit:hover{
    background-color: rgb(236, 232, 232);
}
#submit1:hover{
    background-color: rgb(236, 232, 232);
}
